<h1 mat-dialog-title>Ajouter Reclamation</h1>
<div mat-dialog-content>
  <mat-form-field appearance="outline">
    <mat-label>Type de réclamation</mat-label>
    <input required matInput placeholder="Type" [(ngModel)]="reclamation.Type">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Descriptiont</mat-label>
    <textarea required matInput  placeholder="Description" [(ngModel)]="reclamation.Description"></textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close >Non Merci</button>
  <button mat-flat-button (click)="add()">Ok</button>

</div>
