<!--<h1 mat-dialog-title>Ajouter Reclamation</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Type de réclamation</mat-label>
    <mat-select [(value)]="reclamation.type">
      <mat-option>None</mat-option>
      <mat-option value="Remboursement">Remboursement</mat-option>
      <mat-option value="Echange">Echange</mat-option>
      <mat-option value="Réparation">Réparation</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Description</mat-label>
    <textarea required matInput  placeholder="Description" [(ngModel)]="reclamation.description"></textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close >Non Merci</button>
  <button mat-flat-button (click)="add()">Ok</button>

</div>-->
