<nav class="navbar navbar-default navbar-trans navbar-expand-lg ">
  <div class="container">
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault"
            aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <a class="navbar-brand text-brand" href="index.html">Consommi<span class="color-b">Tounsi</span></a>
    <button type="button" class="btn btn-link nav-search navbar-toggle-box-collapse d-md-none" data-toggle="collapse"
            data-target="#navbarTogglerDemo01" aria-expanded="false">
      <span class="fa fa-search" aria-hidden="true"></span>
    </button>
    <div class="navbar-collapse collapse justify-content-center" id="navbarDefault">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/">Home</a>
        </li>
    <!--    <li class="nav-item">
          <a class="nav-link" routerLink="/allevent">Tous les évènements</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/event">Evenement</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/eventDownload">Télecharger évènement</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/eventfront">évènement front</a>
        </li>-->


       





      <!--  <li class="nav-item">
          <a class="nav-link" routerLink="/cagnotte">Cagnotte</a>
        </li> 
        <li class="nav-item">
          <a class="nav-link" routerLink="/cagnottefront">Cagnotte front</a>
        </li> 
       -->
       
      </ul>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Our Jackpots&nbsp;&nbsp;&nbsp;&nbsp;
        </button>&nbsp;&nbsp;
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="nav-link" routerLink="/cagnotte">Jackpot</a>
          <a class="nav-link" routerLink="/cagnottefront">List of Jackpots</a>
         
        </div>
      </div>


      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Our Events&nbsp;&nbsp;&nbsp;&nbsp;
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="nav-link" routerLink="/allevent">All events</a>
          <a class="nav-link" routerLink="/event">Current events</a>
          <a class="nav-link" routerLink="/eventDownload">Downloads</a>
          <a class="nav-link" routerLink="/eventfront">Events list</a>
        </div>
      </div>
    </div>
    <!--<button type="button" class="btn btn-b-n navbar-toggle-box-collapse d-none d-md-block" data-toggle="collapse"
            data-target="#navbarTogglerDemo01" aria-expanded="false">
      <span class="fa fa-search" aria-hidden="true"></span>
    </button> -->
  </div>
</nav>
