
<div class="page-content page-container justify-content-center custom-row" id="page-content">
  <div class="">
    <div class="row container d-flex justify-content-center">
      <div class="col-xl-9 col-md-12">
        <div class="card user-card-full">
          <div class="text-body m-l-0 m-r-0">
            <div class="card-body bg-c-lite-green provider-profile">
              <div class="card-block text-center text-white">
                <div class="m-auto">
                  <img class="img-responsive" src="assets/img5.png">
                <i class=" mdi mdi-square-edit-outline  icon-edit m-t-10 f-16"><h5>{{livreur.nom}}</h5> </i>
                <i class=" mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"><h5>{{livreur.prenom}}</h5> </i>
                  <div class="card-body text-justify text-white">
                  <div class="m-auto">
                    <i class="ion-md-information-circle-outline  m-t-20 f-20"><h6>City : {{livreur.ville}}</h6> </i>
                  <i class="ion-md-information-circle "><h6>Phone number : {{livreur.telephone}}</h6> </i>
                    <i class="ion-md-information-circle"><h6>Email : {{livreur.adresseEmail}}</h6> </i>
                    <i class="ion-md-information-circle"><h6>Date Added : {{livreur.dateAjout| date:'longDate'}}</h6> </i>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



