<div class="container mt-5 mb-5">
  <div class="search-livreur" class="input-group">

    <div class="form-outline">
      <input class="form-control" type="text" 
             autocomplete="off"  placeholder="Type to search.." [(ngModel)]="search">
    </div> 
    <button type="button" class="btn btn-dark"  >
      <i class="fa fa-search"></i>
    </button>
  </div>



  <div class="container-fluid">
  
</div>
<div class="bg-light">
  <table class="table table-responsive table-striped table-hover table-bordered">
    <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Username</th>
      <th scope="col">Email</th>
      <th scope="col">Delete</th>
      <th scope="col">QrCode</th>
      
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let p of listUser |filter:search">
      <th scope="row" >{{p.id}}</th>
      <td>{{p.username}}</td>
      <td>{{p.email}}</td>

      <td>
        <button mat-icon-button class="btn-danger btn" (click)="deleteUser(p.id)">
      <mat-icon>delete </mat-icon>
    </button>

      </td>

      <td>
        <ngx-qrcode
         [elementType]="elementType"
          [value]="'candidat :'+p.username +', Email :'+p.email"
          cssclass="aclass"
          [errorCorrectionLevel]="correctionLevel">
          </ngx-qrcode>
      </td>

    </tr>

    </tbody>
  </table>
  
  </div>
</div>
