<div class="container mt-5 mb-5">
  <div class="search-livreur" class="input-group">

    <div class="form-outline">
      <input class="form-control" type="text" 
             autocomplete="off"  placeholder="Type to search..">
    </div> 
    <button type="button" class="btn btn-dark"  >
      <i class="fa fa-search"></i>
    </button>
  </div>



  <div class="container-fluid">
  
</div>
<div class="bg-light">
  <table class="table table-responsive table-striped table-hover table-bordered">
    <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">name</th>
      <th scope="col">email</th>
      <th scope="col">delete</th>
      
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let p of listUser">
      <th scope="row" >{{p.id}}</th>
      <td>{{p.username}}</td>
      <td>{{p.email}}</td>

      <td>
        <button mat-icon-button class="btn-danger btn" (click)="deleteUser(p.id)">
      <mat-icon>delete </mat-icon>
    </button>

      </td>
    </tr>

    </tbody>
  </table>
  
  </div>
</div>
