
<h1 mat-dialog-title>Ajouter un Evénement</h1>
<div mat-dialog-content>
  <mat-form-field appearance="outline">
    <mat-label>Titre</mat-label>
    <input required matInput placeholder="Ajouter un titre" [(ngModel)]="event.labelle">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Description</mat-label>
    <input required matInput placeholder="Ajouter un titre" [(ngModel)]="event.description">
  </mat-form-field>
  

  

  <mat-form-field appearance="outline">
    <mat-label>Lieu</mat-label>
    <textarea required matInput  placeholder="Ajouter une description" [(ngModel)]="event.lieu"></textarea>
  </mat-form-field>
 <br>
  <label for="start">Date début</label>

<input type="date" id="start" name="trip-start"
       value="2018-07-22"
       min="2018-01-01" max="2018-12-31"  [(ngModel)]="event.dateDebut">

       <br>
       <label for="start">Date Fin</label>
       <input type="date" id="start" name="trip-start"
       value="2018-07-22"
       min="2018-01-01" max="2018-12-31"  [(ngModel)]="event.dateFin">


  


</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close >No Thanks</button>
  <button mat-flat-button (click)="update()">Ok</button>

</div>
