<div style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; line-height:21px;">

  <style type="text/css">


    .blended_grid{
      display : block;
      width : 1000px;
      overflow : auto;
      margin : 10px auto 0 auto;
      font-family:Tahoma, Geneva, sans-serif;
    }
    .row1{

      float : left;
      clear : none;
      text-align:center;
      padding-top: 10px;
      width:966px;
    }

    .separator{
      border-left: thin solid #e0e0e0;
      margin-right:20px;
    }

    .orange {
      color:#FF0000;
    }
    .centeredImage {
      text-align:center;
      display:block;
      margin-top:0px;
      margin-bottom:0px;
      padding:0px;
    }


    hr.style-one {
      border: 0;
      height: 1px;
      background: #333;
      background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
      background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc);
      background-image:     -ms-linear-gradient(left, #ccc, #333, #ccc);
      background-image:      -o-linear-gradient(left, #ccc, #333, #ccc);
    }
    li{
      margin-left:35px;
    }
    p{
      text-align:justify;
    }
  </style>




  <div class="blended_grid">
    <div class="row1">
      <span style="font-size: 37px; color: #FF0000; text-transform:uppercase">Frais de livraison</span> <br><br><br>
      <a href="/front-livraison"><span style="font-size: 17px; color: #FF0000;margin-right:10px;text-transform:uppercase">frais de Livraison</span></a>
      <span class="separator"></span>
      <a href="/delai-livraison"><span style="font-size: 17px; color: #FF0000;margin-right:10px;text-transform:uppercase">Délais de livraison</span></a>
      <span class="separator"></span>


      <hr style="border-color: #FF0000;margin-top: 0px;">
      <img src="fleche.png" alt="" style="position:relative;left:-120px;">
      <br><br>
      <br><br><br>
    </div>
  </div>


  <h2 class="orange">QUELS FRAIS DE LIVRAISON S’APPLIQUENT À MA COMMANDE ?</h2><hr class="style-one">
  <br>

  <br>
  Afin de vous assurer une meilleure expérience, les frais de livraison seront dorénavant calculés de façon plus optimale et dépendront des 2 facteurs suivants :
  <ul>
    <li>Destination de la livraison : les frais de livraison varient selon la distance entre la ville d'expédition et la ville de la livraison. </li>
    <li>Poids/ Taille : les frais de livraison varient en fonction du poids et volume du colis. Moins le poids/volume est important moins vous payez de frais.</li>
  </ul><br>
  Pour connaître les frais de livraison il suffit de sélectionner le(s) produit(s) et de choisir votre adresse de livraison. Les frais seront visibles en bas de la page avant de confirmer votre commande.

  <br>

  <style>
    table, td, tr{
      border:1px solid black;
      text-align:center;
    }

    tr:first-child{
      font-weight:bold;
      background:red;
    }


  </style>


  <div>
    <ul>Poids volumétrique :
      <li>* Petit : - 5KG</li>
      <li>* Moyen : 5-30KG </li>
      <li>* Grand : + 30KG</li>
    </ul>

    <br>
    <br>
    <br>


  </div></div>
