<div style="font-family:Tahoma, Geneva, sans-serif; font-size: 12px; line-height:21px; margin-left: 40px">

  <style type="text/css">


    .blended_grid{
      display : block;
      width : 1000px;
      overflow : auto;
      margin : 10px auto 0 auto;
      font-family:Tahoma, Geneva, sans-serif;
    }
    .row1{

      float : left;
      clear : none;
      text-align:center;
      padding-top: 10px;
      width:966px;
    }

    .separator{
      border-left: thin solid #e0e0e0;
      margin-right:20px;
    }

    .orange {
      color:#FF0000;
    }
    .centeredImage {
      text-align:center;
      display:block;
      margin-top:0px;
      margin-bottom:0px;
      padding:0px;
    }


    hr.style-one {
      border: 0;
      height: 1px;
      background: #333;
      background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
      background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc);
      background-image:     -ms-linear-gradient(left, #ccc, #333, #ccc);
      background-image:      -o-linear-gradient(left, #ccc, #333, #ccc);
    }
    li{
      margin-left:35px;
    }
    p{
      text-align:justify;
    }
  </style>




  <div class="blended_grid">
    <div class="row1">
      <span style="font-size: 37px; color: #FF0000; text-transform:uppercase">Delivery Cost</span> <br><br><br>
      <a href="/front-livraison"><span style="font-size: 17px; color: #FF0000;margin-right:10px;text-transform:uppercase">Delivery Cost</span></a>
      <span class="separator"></span>
      <a href="/delai-livraison"><span style="font-size: 17px; color: #FF0000;margin-right:10px;text-transform:uppercase">Delivery delay</span></a>
      <span class="separator"></span>


      <hr style="border-color: #FF0000;margin-top: 0px;">
      <img src="fleche.png" alt="" style="position:relative;left:-120px;">
      <br><br>
      <br><br><br>
    </div>
  </div>


  <h2 class="orange">WHAT SHIPPING COSTS APPLY TO MY ORDER ?</h2><hr class="style-one">
  <br>

  <br>
  In order to ensure you a better experience, delivery costs will now be calculated more optimally and will depend on the following 2 factors :
  <ul>
    <li>Delivery destination: delivery costs vary according to the distance between the city of dispatch and the city of delivery. </li>
    <li>Weight / Size: delivery costs vary according to the weight and volume of the package. The lower the weight/volume the lower the fees you pay.</li>
  </ul><br>
  To know the delivery costs, simply select the product(s) and choose your delivery address. The charges will be visible at the bottom of the page before confirming your order.

  <br>

  <style>
    table, td, tr{
      border:1px solid black;
      text-align:center;
    }

    tr:first-child{
      font-weight:bold;
      background:red;
    }


  </style>


  <div>
    <ul>Volumetric weight :
      <li>* Small : - 5KG</li>
      <li>* Medium : 5-30KG </li>
      <li>* Large : + 30KG</li>
    </ul>

    <br>
    <br>
    <br>


  </div></div>
