<h1 mat-dialog-title>Add publication</h1>
<div mat-dialog-content>
  <mat-form-field appearance="outline">
    <mat-label>Title</mat-label>
    <input required matInput placeholder="Add content" [(ngModel)]="publication.content">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Description</mat-label>
    <textarea required matInput  placeholder="Add description" [(ngModel)]="publication.title"></textarea>
  </mat-form-field>
  <input type="Date" name="date1" [(ngModel)]="publication.createdAt">
  <input type="Date" name="date2" [(ngModel)]="publication.updatedAt" >




</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close >No Thanks</button>
  <button mat-flat-button (click)="add()">Ok</button>

</div>
