<div class="-container">
  <div class="-row -steps">
    <div class="-title">How to cancel my order</div>
  </div>

  <div class="-row -video-faq" style="display: none;">
    <div class="-video -inlineblock -vamiddle"> <iframe src="https://www.youtube.com/embed/3iD2Zl2BVF8"></iframe></div>
    <div class="-faqs_ -inlineblock -vamiddle">
      <div class="-title">Frequently Asked Questions</div>
      <div class="-question-answer">
        <div class="-question">Can I cancel my order?</div>
        <div class="-answer"> Yes, you can cancel your order if it still hasn't been shipped. Orders that have already been dispatched cannot be cancelled, you can reject the delivery once our courier contacts you. For delivered orders, you can submit a return request from your account
        </div>
      </div>
      <div class="-question-answer">
        <div class="-question">My order is prepaid, how will I be refunded?
        </div>
        <div class="-answer"> If your order is prepaid, the refund will be made to your JPAY account within 24 hours of canceling your order and we will notify you by email once the refund has been made.
          You can contact Customer Service to request a refund to your bank account.</div>
      </div>
      <div class="-question-answer">
        <div class="-question">My order has been shipped but I still want to cancel it.
        </div>
        <div class="-answer">If your order is shipped, don't worry, you can reject the delivery once our courier contacts you.
        </div>
      </div>
    </div>
  </div>


  <div class="-row -video-faq">
    <div class="-faqs_ -inlineblock -vamiddle_">
      <div class="-title">Frequently Asked Questions</div>
      <div class="-question-answer">
        <div class="-question">Can I cancel my order?</div>
        <div class="-answer">Yes, you can cancel your order if it is still not shipped. Orders already shipped cannot be cancelled, you can reject the delivery once our delivery clerk contacts you. For delivered orders, you can submit a return request from your account</div>
      </div>
      <div class="-question-answer">
        <div class="-question">My order is prepaid, how will I be refunded?</div>
        <div class="-answer">
          If your order is prepaid, we process your refund within 4 days of cancellation and will notify you by email once the refund has been issued.</div>
      </div>
      <div class="-question-answer">
        <div class="-question">My order has been shipped but I still want to cancel it.</div>
        <div class="-answer">If your order is shipped, don't worry, you can reject the delivery once our delivery clerk contacts you.</div>
      </div>
    </div>
  </div>

  <div class="JustDesktop">
    <div class="-row -steps">
      <div class="-title">Steps to cancel your order</div>
      <div class="-steps-el -posrel">
        <div class="-step">
          <div class="-txt"><strong>1.</strong>From your order list on your Jumia account, click on <strong>"Details"</strong> to the right of the item you want to cancel</div>

        </div>
        <div class="-step">
          <div class="-txt"><strong>2.</strong>Click on the button <strong>"Cancel the order"</strong></div>

        </div>
        <div class="-step">
          <div class="-txt"><strong>3.</strong>Select the quantity to be canceled and the reason for cancellation from the drop-down list, then click <strong>"Submit"</strong></div>

        </div>
      </div>
    </div>
  </div>


</div>
