<div class="-container">
  <div class="-row -steps">
    <div class="-title">Comment annuler ma commande</div>
  </div>

  <div class="-row -video-faq" style="display: none;">
    <div class="-video -inlineblock -vamiddle"> <iframe src="https://www.youtube.com/embed/3iD2Zl2BVF8"></iframe></div>
    <div class="-faqs_ -inlineblock -vamiddle">
      <div class="-title">Foire aux questions</div>
      <div class="-question-answer">
        <div class="-question">Est-ce que je peux annuler ma commande?</div>
        <div class="-answer"> Oui, vous pouvez annuler votre commande si elle n'est toujours pas expédiée. Les commandes déjà expédiées ne peuvent pas être annulées, vous pourrez rejeter la livraison une fois que notre livreur vous contactera. Pour les commandes livrées, vous pouvez soumettre une demande de retour à partir de votre compte
        </div>
      </div>
      <div class="-question-answer">
        <div class="-question">Ma commande est prépayée, comment serais-je remboursé(e)?
        </div>
        <div class="-answer"> Si votre commande est prépayée, le remboursement sera effectué sur votre compte JPAY au bout de 24 heures suivant l’annulation de votre commande et nous vous aviserons par email une fois le remboursement effectué.
          Vous pouvez contacter le Service Client pour demander un remboursement sur votre compte bancaire.</div>
      </div>
      <div class="-question-answer">
        <div class="-question">Ma commande est expédiée mais je souhaite tout de même l'annuler.
        </div>
        <div class="-answer">Si votre commande est expédiée, pas d'inquiétude, vous pouvez rejeter la livraison une fois que notre livreur vous contactera.
        </div>
      </div>
    </div>
  </div>


  <div class="-row -video-faq">
    <div class="-faqs_ -inlineblock -vamiddle_">
      <div class="-title">Foire aux questions</div>
      <div class="-question-answer">
        <div class="-question">Est-ce que je peux annuler ma commande?</div>
        <div class="-answer"> Oui, vous pouvez annuler votre commande si elle n'est toujous pas expédiée. Les commandes déjà expédiées ne peuvent être annulées, vous pourrez rejeter la livraison une fois que notre commis à la livraison vous contactera. Pour les commandes livrées, vous pouvez soumettre une demande de retour de votre compte</div>
      </div>
      <div class="-question-answer">
        <div class="-question">Ma commande est prépayée, comment serais-je remboursée?</div>
        <div class="-answer"> Si votre commande est prépayée, nous procédons avec votre remboursement dans les 4 jours suivant l’annulation et vous aviserons par email une fois le remboursement effectué.</div>
      </div>
      <div class="-question-answer">
        <div class="-question">Ma commandes est expédiée mais je souhaite tout de même l'annuler.</div>
        <div class="-answer">Si votre commande est expédiée, pas d'inquiétude, vous pourrez rejeter la livraison une fois que notre commis à la livraison vous contactera</div>
      </div>
    </div>
  </div>

  <div class="JustDesktop">
    <div class="-row -steps">
      <div class="-title">Etapes pour annuler votre commande</div>
      <div class="-steps-el -posrel">
        <div class="-step">
          <div class="-txt"><strong>1.</strong>De votre liste de commandes sur votre compte Jumia, cliquez sur <strong>"Détails"</strong> à droite de l'élément que vous désirez annuler</div>

        </div>
        <div class="-step">
          <div class="-txt"><strong>2.</strong>Cliquez sur le bouton <strong>"Annuler la commande"</strong></div>

        </div>
        <div class="-step">
          <div class="-txt"><strong>3.</strong>Sélectionnez la quantité à annuler et la raison d'annulation de la liste déroulante, puis cliquez sur <strong>"Soumettre"</strong></div>

        </div>
      </div>
    </div>
  </div>


</div>
