<div class="container mt-5 mb-5">


  <div class="container-fluid">
    <div class="col-12 d-flex justify-content-lg-end">
      <button class="btn-primary btn add" (click)="captureScreen()" id="bb" > Download 	<mat-icon>save_alt</mat-icon></button>
    </div>
  </div>
  <section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h1 class="title-single">Our Products</h1>
            <span class="color-text-a">all the productss</span>
          </div>
        </div>
        <div class="col-md-12 col-lg-4">
          <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="#">Home</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                Properties Grid
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>

  <table class="table table-striped" id="contentToConvert">
    <thead>
    <tr>
      <th scope="col">Code</th>
      <th scope="col">libelle</th>
      <th scope="col">Category</th>
      <th scope="col">Description</th>
      <th scope="col">Link</th>
      <th scope="col">Price</th>
      <th scope="col">Date</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let produit of produits">
      <td>
        <img src="http://localhost:8080/SpringMVC/produit/barcode/{{produit.idProduit}}" width="200" height="50">
      </td>
      <td>{{produit.libelleProduit}}</td>
      <td>{{produit.categorieProduit}}</td>
      <td>{{produit.description}}</td>
      <td> {{produit.image}}</td>
      <td>{{produit.prix}}</td>
      <td>{{produit.dateCreation| date}}</td>
    </tr>
    </tbody>
  </table>
</div>
