<h1 mat-dialog-title>Add stock</h1>
<div mat-dialog-content>
  <mat-form-field appearance="outline">

    <mat-label>Name</mat-label>
    <input required matInput placeholder="Add your stock name" [(ngModel)]="stock.libelleStock">
  </mat-form-field>


  <mat-form-field appearance="fill" floatLabel="always">
    <mat-label>Quantity</mat-label>
    <input matInput type="number" class="example-right-align" placeholder="0" [(ngModel)]="stock.quantite">
    <span matSuffix>00</span>
  </mat-form-field>

  <mat-form-field appearance="fill" floatLabel="always">
    <mat-label>Minimum quantity</mat-label>
    <input matInput type="number" class="example-right-align" placeholder="0" [(ngModel)]="stock.quantiteMin">
    <span matSuffix>00</span>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Supplier's name</mat-label>
    <input matInput placeholder="Add supplier name" [(ngModel)]="stock.supplier_name">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Supplier's mail</mat-label>
    <textarea matInput  placeholder="Add supplier email" [(ngModel)]="stock.supplier_mail"></textarea>
  </mat-form-field>



</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close >No Thanks</button>
  <button mat-flat-button (click)="add()">Ok</button>

</div>

