<section class="h-100 gradient-custom">
  <div class="container py-5">
    <div class="row d-flex justify-content-center my-4">
      <div class="col-md-8">
        <div class="card mb-4">
          <div class="card-header py-3">
            <h5 class="mb-0">Votre Panier: X produits</h5>
          </div>
          <div class="card-body">

          <app-list-panier-produit></app-list-panier-produit>


          </div>
        </div>
        <div class="card mb-4">
          <div class="card-body">
            <p><strong>Livraison prévue entre: 1 et 3 jours.</strong>
            <p class="mb-0">Les frais de livraison sont non inclus pour le moment.</p>
          </div>
        </div>


      </div>
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-header py-3">
            <h5 class="mb-0">Paiement</h5>
          </div>
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li
                class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                Somme Produits
                <span>500 DT</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                Livraison
                <span>Disponible</span>
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                <div>
                  <strong>Somme Total</strong>
                  <strong>
                    <p class="mb-0">(avec TVA)</p>
                  </strong>
                </div>
                <span><strong>500 DT</strong></span>
              </li>
            </ul>

            <button type="button" class="btn btn-primary btn-lg btn-block">
              Commander Maintenant
            </button>
            <button type="button" class="btn btn-primary btn-lg btn-block">
              Vider le panier
            </button>
          </div>




          <div class="card-body">
            <button type="button" class="btn btn-primary btn-lg btn-block" (click)="openShowDialog()">
              Voir les factures
            </button>
          </div>



        </div>

      </div>

    </div>
  </div>
</section>
