<div class="center" id="container">
  <div class="row">
    <p class="head1">Shipping & Delivery</p>

  </div>
  <br>

  <div class="row">

      <p style="text-align: center; font-size: 17px; line-height: 24px;">We thank you for your visit ! On this page you can find all the information related to delivery times:

      </p>
    <br>
  </div>


  <div id="container">
    <div class="row -lead_times">
      <div class="-title"></div>
      <div class="-sub_title"></div>
      <div class="-txt">
        <p></p>
        <div class="-table" style="border: 1px solid white;">
          <table style="border: 1px solid white;">
            <thead>
            <tr style="background-color: white;">
              <th></th>
              <th> Express<br> Service</th>
              <th> Standard Delivery</th>
            </tr>
            </thead>
            <tbody class="-timelines">
            <tr>
              <td class="-with-icon"> <img src="https://tn.jumia.is/cms/00_SP_revamp/aide/PasseCommande/ship-white.png" class="-inlineblock -vamiddle" alt="">
                <div class="-inlineblock -vamiddle -txt">Zone 1</div>
              </td>
              <td data-label="Jumia Express"><span>1</span><span>working days</span></td>
              <td data-label="Standard Shipping"><span>2 - 3</span><span> working days</span></td>
            </tr>
            <tr>
              <td class="-with-icon"> <img src="https://tn.jumia.is/cms/00_SP_revamp/aide/PasseCommande/ship-white.png" class="-inlineblock -vamiddle" alt="">
                <div class="-inlineblock -vamiddle -txt">
                  <div>Zone 2</div>
                </div>
              </td>
              <td data-label="Service Express"><span>1 - 2</span><span>working days</span></td>
              <td data-label="Standard Shipping"><span>2 - 4</span><span>working days</span></td>
            </tr>
            <tr>
              <td class="-with-icon"> <img src="https://tn.jumia.is/cms/00_SP_revamp/aide/PasseCommande/ship-white.png" class="-inlineblock -vamiddle" alt="">
                <div class="-inlineblock -vamiddle -txt">Zone 3</div>
              </td>
              <td data-label="Service Express"><span>3 - 4</span><span>working days</span></td>
              <td data-label="Standard Shipping"><span>4 - 6</span><span>working days</span></td>
            </tr>

            </tbody>
          </table>
        </div>
        <div id="cites">


            <div class="-container">

      <div class="row" style="padding-top: 50px;width: 1000px;">

        <p style="text-align: left; font-size: 17px; line-height: 24px;">
          The delivery time is counted from the day you place your order until the day of our first delivery attempt.
          <br>Business Days are Monday through Saturday. They do not include Sundays and public holidays.
          <br>
          You can track your order by clicking on "My Account" at the top right of your screen.


        </p>

        <img alt="Jumia Express Logo" src="assets/consommitounsi.png" style="margin: 0 auto;width: 269px;justify-content:center;display: flex;">
        <div>

        <p style="text-align: left; font-size: 17px; justify-content:center;display: flex;padding-bottom: 50px;">

          ConsommiTounsi Express is a Premium service that concerns all products prepared and shipped by us. By purchasing ConsummiTounsi Express products, you benefit from a faster delivery time.
        </p>
</div>
        <h3 style="padding-bottom: 50px;">Standard delivery</h3>
        <p style="text-align: left; font-size: 17px; justify-content:center;display: flex;">

          ConsommiTounsi STANDARD products are products prepared by sellers on the ConsommiTounsi platform. These products are stored with the sellers and not with ConsummiTounsi. Before shipping your order, the seller delivers the product to us in stock and ConsummiTounsi takes care of checking the contents and shipping. This is why the delivery time is longer than that of ConsummiTounsi Express products.
        </p>
      </div>
    </div>

