<div class="center" id="container">
  <div class="row">
    <p class="head1">Expédition &amp; Livraison</p>

  </div>
  <br>

  <div class="row">

      <p style="text-align: center; font-size: 17px; line-height: 24px;">Nous vous remercions de votre visite ! Sur cette page, vous pouvez trouver toutes les informations en rapport avec les délais de livraison :

      </p>
    <br>
  </div>


  <div id="container">
    <div class="row -lead_times">
      <div class="-title"></div>
      <div class="-sub_title"></div>
      <div class="-txt">
        <p></p>
        <div class="-table" style="border: 1px solid white;">
          <table style="border: 1px solid white;">
            <thead>
            <tr style="background-color: white;">
              <th></th>
              <th> Service<br> Express</th>
              <th> Livraison Standard</th>
            </tr>
            </thead>
            <tbody class="-timelines">
            <tr>
              <td class="-with-icon"> <img src="https://tn.jumia.is/cms/00_SP_revamp/aide/PasseCommande/ship-white.png" class="-inlineblock -vamiddle" alt="">
                <div class="-inlineblock -vamiddle -txt">Zone 1</div>
              </td>
              <td data-label="Jumia Express"><span>1</span><span>Jour ouvré</span></td>
              <td data-label="Standard Shipping"><span>2 - 3</span><span> Jours ouvrés</span></td>
            </tr>
            <tr>
              <td class="-with-icon"> <img src="https://tn.jumia.is/cms/00_SP_revamp/aide/PasseCommande/ship-white.png" class="-inlineblock -vamiddle" alt="">
                <div class="-inlineblock -vamiddle -txt">
                  <div>Zone 2</div>
                </div>
              </td>
              <td data-label="Service Express"><span>1 - 2</span><span>Jours ouvrés</span></td>
              <td data-label="Standard Shipping"><span>2 - 4</span><span>Jours ouvrés</span></td>
            </tr>
            <tr>
              <td class="-with-icon"> <img src="https://tn.jumia.is/cms/00_SP_revamp/aide/PasseCommande/ship-white.png" class="-inlineblock -vamiddle" alt="">
                <div class="-inlineblock -vamiddle -txt">Zone 3</div>
              </td>
              <td data-label="Service Express"><span>3 - 4</span><span>Jours ouvrés</span></td>
              <td data-label="Standard Shipping"><span>4 - 6</span><span>Jours ouvrés</span></td>
            </tr>

            </tbody>
          </table>
        </div>
        <div id="cites">


            <div class="-container">

      <div class="row" style="padding-top: 50px;width: 1000px;">

        <p style="text-align: left; font-size: 17px; line-height: 24px;">Le délai de livraison est comptabilisé à partir du jour où vous passez votre commande jusqu'au jour de notre première tentative de livraison.
          <br>Les Jours ouvrés comptent du lundi au samedi. Ils n’incluent pas le dimanche et les jours fériés.
          <br> Vous pouvez suivre votre commande en cliquant sur " Mon Compte "en haut, à droite de votre écran.


        </p>

        <img alt="Jumia Express Logo" src="assets/consommitounsi.png" style="margin: 0 auto;width: 269px;justify-content:center;display: flex;">
        <div>

        <p style="text-align: left; font-size: 17px; justify-content:center;display: flex;padding-bottom: 50px;">

          ConsommiTounsi Express est un service Premium qui concerne tous les produits préparés et expédiés par nous.En achetant des produits ConsommiTounsi Express, vous profitez d’un délai de livraison plus rapide.
        </p>
</div>
        <h3 style="padding-bottom: 50px;">Livraison standard</h3>
        <p style="text-align: left; font-size: 17px; justify-content:center;display: flex;">

          Les produits ConsommiTounsi STANDARD sont des produits préparés par les vendeurs sur la plateforme ConsommiTounsi. Ces produits sont stockés chez les vendeurs et non pas chez ConsommiTounsi. Avant d'expédier votre commande, le vendeur nous livre le produit au stock et ConsommiTounsi s'occupe de la vérification du contenu et de l’expédition. Raison pour laquelle le délai de livraison est plus long que celui des produits ConsommiTounsi Express.
        </p>
      </div>
    </div>

