
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: visible;
  opacity: 1;
}
.popup {
  margin: 10px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  position: relative;
  transition: all 5s ease-in-out;
  width: 70%;
  height: 70%;

}
.popup .close {
  position: absolute;
  top: 0;

  transition: all 200ms;
  font-size: 40px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
  cursor: pointer;
}
.popup .content {
  width: 100%;
  height: 90%;
  overflow: auto;
}
@media screen and (max-width: 700px){

  .popup{
    width: 100%;
  }
}

.hero-section{
  width: 100%;
  height: calc(100vh - 120px);
  background-image: url('src/assets/img/header.png');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-section .logo{
  height: 150px;
  display: block;
  margin: auto;
}

.hero-section .sub-heading{
  margin-top: 10px;
  text-align: center;
  color: #fff;
  text-transform: capitalize;
  font-size: 35px;
  font-weight: 300;
}
agm-map {
  height:800px;
  width: 1800px;
}
